@charset "utf-8";

header h1 {
	line-height: 1.2;
	margin: auto;

}

body {
	line-height: 2.5;
	margin: 0;
	background-color: #E6E6FA;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;

}

.container2 {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.container img {
	float: left;
}


.frame {
	display: flow-root;
}


header {
	padding-top: 4rem;
	padding-bottom: 3rem;
	margin-top: 5rem;
	text-align: center;
	background: url(img/ヘッターの背景画像.png);
}

h2 {
	font-size: 40px;
}

h1 {
	font-size: 85px;
}


ul {
	margin: 0;
	padding: 0;
	margin-bottom: 3rem;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

li {
	flex: 1;
	text-align: center;
	list-style-type: none;
	background-color: white;

}

#menubar a {
	text-decoration: none;
	display: block;
	color: inherit;
	padding: 0.9rem 0.7rem;
}

.hover-home a:hover {
	background: #A6AAF9;
}

.hover-spring a:hover {
	background: #FFE4E1;
}

.hover-summer a:hover {
	background: #ADD6FF;
}

.hover-automn a:hover {
	background: #F2D58A;
}

.hover-winnter a:hover {
	background: #C0C0C0;
}

.hover-writer a:hover {
	background: #A4D5BD;
}

.hover-blue a:hover{
	color: #BD00FF;
}

footer {
	width: 1263px;
	height: 275px;
	background: url(img/フッター2.png);
}

.fo-flex{
	display: flex;
}

footer div{
	padding-left: 750px;
	padding-top: 70px;
}


footer img{
	margin-left: 60px;
} 

.color-spring {
	background-color: #FFD5EC;
}

.color-summer {

	background-color:  #ADD6FF;
}

.color-autumn {
	background-color: #F2D58A;
}

.color-winnter {
	background-color: #C0C0C0;
}

.list-sample {
	display: flex;
	margin-bottom: 100px;
}

.list-sample p {
	text-align: start;

}

.mar {
	padding: 100px;
}

nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 25px;
}

.container img {
	width: 580px;
	height: 400px;

}

.container2 img {
	width: 580px;
	height: 400px;
}


h1 {
	text-align: center;
}

p {
	font-size: 20px;
	text-align: center;
}

.pa {
	margin-bottom: 300px;
}

.pa img {
	margin: 2rem;
}

.pa h2 {
	font-size: 64px;
}

main {
	width: 90%;
}

.title-font {
	font-size: 96px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.fo-si-60 {
	font-size: 60px;
}

.fo-si-42 {
	font-size: 42px;
}

a {
	color: black;
}

.ma-t-0{
	margin-top: 0;
}

.center{
	text-align: center;
}

.fo-im{
	margin-left: 850px;
	padding-top: 80px;
}

